@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400&family=Epilogue:wght@600&family=Space+Mono&display=swap');

@media (max-width: 480px) {
  .header-title {
    margin-right: auto;
  }

  .cart-icon-wrapper {
    margin-left: auto;
  }

  .cart {
    display: flex !important;
    justify-content: flex-start !important;
  }

  .center-cart {
    display: inline-block;
    margin: auto !important;
    position: relative !important;
    grid-column: auto;
    font-size: 1em;
  }

  .cards {
  flex-wrap: 50% !important;
  }

}




body {
  font-family: 'Epilogue', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 60%;
  font-family: 'Gloria Hallelujah', cursive;
}

.title {
  font-size: 1.4em;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0;
  text-align: center;
}

.description, .price {
  font-style: cursive;
  text-align: center;
}

.center {
  display: flex;
  justify-items: center;
  margin: 0 auto;
  align-items: center;
  box-shadow: rgba(255, 201, 94, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.white-shadow {
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.white-shadow2 {
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: rgba(85, 67, 84, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

  button {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  border-style: none;
  padding: 1em;
  background-color: black;
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  color: white;
}

button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.cart-button {
  vertical-align: text-bottom !important;
  cursor: pointer;
  height: 25%;
  border-style: none;
  background-color: black;
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  color: white;
}

.cart-button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}
img {
  width: 80%;
  margin-bottom: 0px;
}

ul, li { 
  display:inline;
  list-style: none;
  margin-left: 1em;
}

a { 
  color: inherit;
  text-decoration: none;
} 

.cart {
  display: flex;
  justify-content: space-between;
}

.center-cart {
  font-family: 'Gloria Hallelujah', cursive;
  position: absolute;
  float: right;
  margin-right: 4%;
  margin-left: 80%;
  grid-column: auto;
}

.isHidden {
  display: none;
}
.cart-value {
  font-family: 'Epilogue', sans-serif;
  color: white;
  background-color: gold;
  border-radius: 25px;
  padding: 3px;
}
.wrapper {
  width: 60%;
  justify-content: center;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  gap: 2em;
  
}

.card-item {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}


.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.price-item {
  padding-left: 2em;
}

.name-item {
  text-align: center;
}

.card-details {
  margin: 0;
  padding: 0em 1em 1em 1em;
  border: 1px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(249, 249, 255));
  box-shadow: rgba(255, 133, 253, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  
}

.menu-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('./img/cart_small.png');
}

.delete-button {
  display: inline;
  background-color: red;
  height: 30px;
  width: 10px;
}
.quantity {
  display: flex;
  align-items: start;
}
.quantity-buttons {
  margin: auto;
  width: 50%;
  height: 50%;
}

.item-qty {
  height: 50%;
  background-color: black;
  padding: 1em;
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  color: white;
}

.cart-increment {
 gap: 0;
}

.number-input {
  background-color: white;
  border: none;
  color: black;
  width: 40px;
  height: 10px;
}
.cart-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url('./img/cart_small.png');
}


